@import "./src/App.scss";

.card-container {
  width: 100%;
  padding: 15px !important;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
